.nav-link:hover {
  background-color: white;
  color: blue;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
}

.card-body2:hover{
  cursor: pointer;
}

.nav-lik_hv {
  font-weight: bold;
  color: black;
}

.nav-lik_hv:hover {
  color: blue;
  font-weight: bold;
  background-color: white;
}


 @media (max-width: 991px) {
    .navbar-nav {
      display: flex;
      flex-direction: row !important;
      justify-content: flex-start;
    }

    .nav-item {
      margin-right: 15px;
    }
  }

.photo__profile{
  width: 38px;
  height: 38px;
  border-radius: 40px;
 }

 .Cards_1{
  background-color: #ffffff;
  border-radius: 8px;
 }

 .Cards_2{
  background-color: #ffffff;
  border-radius: 8px;
 }

 .Cards_3{
  background-color: #ffffff;
  border-radius: 8px;
 }

 .Cards_4{
  background-color: #ffffff;
  border-radius: 8px;
 }

 .Cards_5{
  background-color: #ffffff;
  border-radius: 8px;
 }
.photo__profile:hover{
  cursor: pointer;
}
 .day__nameprofile{
  font-size:smaller;
 }

 .day__nameprofile:hover{
  cursor: pointer;
 }

 .min__read{
  font-size:smaller;
 }
 .reactions__comments{
 width: 320px;
 }

 .name__profile{
  font-size:smaller;
 }

 .comment{
  font-size:smaller;
 }

 .text__comment {
  background-color: #f5f5f5;

 }

 .card__secondary__tittle:hover{
  background-color: white;
  text-decoration: none;
  color: blue;
  cursor: pointer;
 }

 .cards_hashtag:hover{
  background-color: rgb(236, 229, 229);
  text-decoration: none;
  color: black;
  border-radius: 20px;
 }
.icon__bg{
  background-color: rgb(236, 229, 229);
  border-radius: 10px;
}
 .box__images:hover{
  background-color: rgb(236, 229, 229);
  text-decoration: none;
  border-radius: 20px;
 }

 .zone__comments:hover{
  cursor: pointer;
 }

 .zone__reading:hover{
  cursor: pointer;
 }