@import "vars";

body{
    background-color:$color-fond;
}


.main__containers{
    height: 900px;
}

.main__container_left{
    background-color:$color-fond;    
}

.main__container__ol{
    background-color:$color-fond;
}








