@import "vars";

body{
    background-color:$color-fond;
}


.aside__left__cards{
    margin-top: 100px;

    .aside__left__card1{
        background-color:$articles-back-white;
        height: 290px;
       
    }

    .aside__left__card2 {
        background-color:$articles-back-white;
        height: 320px;
        padding-bottom: 10px;
    }  
}

#navbarNav{
    width: 40%;
}

.navbar-toggler{
    padding: 2%;
    margin-right: 10px;
    border: none;
}

.aside__left__card1{
    border: 2px solid #efefef;
    border-radius: 9px;
}
.aside__left__card2{
    border: 2px solid #efefef;
    border-radius: 9px;
}














