@import "vars";
*{
    box-sizing: border-box;
}
.contorno{
    border: 1px solid black;
}
body{
    .aside_left__container{
        .aside_left__container_row{
            
            .aside_left__container_row_aside-left{
              background-color: #f5f5f5;
              .aside_left__container_row_aside-left_container{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                height: 277px;
                justify-content: space-around;
                position: fixed;
                .aside_left__container_row_aside-left_container_items_tooltip{
                    
                    
                    position: absolute;
                    text-align: center;
                    top: 0;
                    background-color: rgb(23, 23, 23,.9);
                    color: #FFFFFF;
                    border-radius: 6px;
                    padding: 2px;
                    top: 100%;
                    right: 30%;
                    
                }
               
                .aside_left__container_row_aside-left_container_items{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &:hover{
                        .aside_left__container_row_aside-left_container_items_tooltip{
                            display: block !important;
                            z-index: 10000;
                        }
                        .aside_left__container_row_aside-left_container_items_sub_menu_container{
                            display: flex !important;
                            position: absolute;
                            left: 25px;
                            top:0;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: #575757;
                        
                    }
                    .aside_left__container_row_aside-left_container_items_reactions{
                        padding: 5px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        position: absolute;
                        background-color: #FFFFFF;
                        min-width: 300px;
                        height: 100px;
                        border: 1px solid rgb(207, 196, 196);
                        border-radius: 32px;
                        left: 22px;
                        top: -100%;
                        .reaction{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 15%;

                            &:hover
                            {
                                cursor: pointer;
                                background-color: rgb(235, 230, 230);
                                border-radius: 32px;
                                .reaction_tooltip{
                                    display: block !important;
                                    top: 80px;
                                }
                            }
                            img{
                                
                                width: 32px;
                                height: 32px;
                            }
                            span{
                                text-align: center;
                            }
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 5px;
                            position: relative;
                            .reaction_tooltip{
                                position: absolute;
                                background-color: rgb(23, 23, 23,.9);
                                color: #FFFFFF;
                                border-radius: 6px;
                                padding: 5px;
                               
                            }
                        }
                    }
                    .aside_left__container_row_aside-left_container_items_sub_menu_container{
                        position: absolute;
                        background-color: #FFFFFF;
                        border: 1px solid #b6b5b5;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 250px;
                        height: 376px;
                        border-radius: 6px ;
                        box-shadow: 0 10px 15px -3px rgba(var(--black), 0.1), 0 4px 6px -2px rgba(var(--black), 0.05), 0 0 0 1px rgba(var(--black), 0.1);
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-bottom: 20px;
                        a{
                            display: flex;
                            align-items: center;
                            &:hover{
                                color: rgb(47, 58, 178) ;
                                background-color: rgba(164, 168, 212, 0.5);
                                path{
                                        fill:rgb(47, 58, 178) ;
                                    }
                                
                            }
                            
                            
                            border-radius: 6px ;
                            height: 40px;
                            padding-left: 5px;
                        }
                        .copy{
                            display: flex;
                            justify-content: space-between;
                            font-weight: bold;
                           
                        }
                    }
                    .aside_left__container_row_aside-left_container_items_tooltip
                    {
                        
                    }
                    .aside_left__container_row_aside-left_container_items_img-thredots{
                        &:hover{
                            border-radius: 50%;
                            background-color: #e7e1e1;
                        }
                    }
                    .aside_left__container_row_aside-left_container_items_txt img{
                        font-size: 14px;
                    }
                    .aside_left__container_row_aside-left_container_items_img{
                        .aside_left__container_row_aside-left_container_items_img_heart{
                            &:hover{
                                path{
                                    transition: fill .3s ease;
                                fill: rgb(220,38,38,1);
                            }
                            }
                        }
                        .aside_left__container_row_aside-left_container_items_img_comment{
                            &:hover{
                                path{
                                    transition: fill .3s ease;
                                fill: rgb(245,158,11,1);
                                
                            }
                            }
                        }
                        .aside_left__container_row_aside-left_container_items_img_save{
                            &:hover{
                                path{
                                    transition: fill .3s ease;
                                fill: rgb(79,70,229,1);
                            }
                            }
                        }
                    }
                }
            }
            }
        }
    }
}
#reaction_hover:hover{
    .aside_left__container_row_aside-left_container_items_reactions{
        display: flex !important;
    }

}
//EMPIEZZA LO DEL MEDIO
.mid__container{
    margin-top: 30px;
    background-color: #FFFFFF;
    border:1px solid #e7e1e1;
    border-radius: 6px ;
}
.main__container_right{
    padding-left: 20px;
    margin-top: 30px;
}
.mid__container_banner_container{
    background-color: #FBFBFB;
}
.mid__container_banner_container_banner{
    width: 100%;
    background-color: #b6b5b5;
    border-radius: 6px 6px 0 0;
}
.mid__container_all_title_name{
    display: flex;

}
.mid__container_all_title_name_img{
    border-radius: 50%;
}
.mid__container_all_title_name_data{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.mid__container_all_title_name_data_name{
    font-weight: bold;
}
.mid__container_all_title_name_data_date{
    font-size: 12px;
    color: #717171;
}
.mid__container_all_reacts{
    margin-top: 30px;
    display: flex;
    gap: 30px;

}
.mid__container_all_reacts_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}
#H1_title{
    padding-top: 15px;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 800;
}
.mid__container_all_hash
{
    height: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.box_size
{
    padding: 3px;
    line-height: 25px;
   
}
.mid__container_all_hash_items_purple{
    width: 12%;
}

.mid__container_all_hash_items_purple:hover{
    
    cursor: pointer;
    border: 1px solid rgba(86, 39, 101) ;
    border-radius: 6px;
    background-color: rgba(86, 39, 101, 0.10) ;
}
.mid__container_all_hash_items_drak_green{
    width: 15%;
}
.mid__container_all_hash_items_drak_green:hover{
    cursor: pointer;
    border: 1px solid #008335 ;
    border-radius: 6px;
    background-color: rgba(0, 131, 53, 0.10) ;
}
.mid__container_all_hash_items_blue{
    width: 8%;
}
.mid__container_all_hash_items_blue:hover{
    
    border: 1px solid #2965F1 ;
    border-radius: 6px;
    background-color: rgba(41, 101, 241, 0.10) ;
}
.mid__container_all_hash_items_green{
    width: 12%;
}
.mid__container_all_hash_items_green:hover{
    border: 1px solid #c1d82f ;
    border-radius: 6px;
    background-color: rgba(193, 216, 47, 0.10) ;
}
.mid__container_all_tools{
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.mid__container_all_tools_cont{
    background-color: #f5f5f5;
    width: 550px;
    height: 339px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #e7e1e1;
}
.mid__container_all_tools_cont_part{
    border-bottom: 1px solid #e7e1e1;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.mid__container_all_tools_cont_part_inside{
    width: 100%;
    display: flex;
    gap: 10px;
}
.first{
    padding-left: 10px;
    font-size: 20px;
    color: #2965F1;
    font-weight: bold;
}
.last{
    border-bottom: 0px;
    font-weight: bold;
}
.mid__container_all_tools_cont_part_inside_number{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid__container_all_tools_cont_part:hover{
    background-color: #FFFFFF;
    cursor: pointer;
}
.first:hover{
    background-color: #f5f5f5;

}
.mid__container_all_tools_cont_part_inside_number_last{
    background-color: #2965F1;
    color: #FFFFFF;
}
.mid__container_all_description
{
    font-size: 20px;
}
.mid__container_all_table_of_content_title
{
    font-size: 30px;
    font-weight: bold;
}
.mid__container_all_table_of_content_title_ul{
    li{
        a{
        &:hover{
            color: rgb(47,58,178,1);
        }
            color: #2965F1;
            font-size: 20px;
            text-decoration: underline;
        }
    }
}
.mid__container_all_topics{
    display: flex;
    flex-direction: column;
    gap: 15px;
    .mid__container_all_topics_title{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .mid__container_all_topics_title_img{
        &:hover{
            cursor: pointer;
        }
    }
    .mid__container_all_topics_paragraph{
        font-size: 20px;
        overflow-wrap: break-word;
        .mid__container_all_topics_paragraph_link{
            &:hover{
                color: rgb(47,58,178,1);
            }
                color: #2965F1;
                font-size: 20px;
                text-decoration: underline;
        }
    }
}
.mid__container_all_divisor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
        .mid__container_all_divisor_bar{
            width: 20%;
            height: 2px;
            background-color: #b6b5b5;
            border-style: none;
        }
    
}
.mid__container_all_conclution{
    .mid__container_all_conclution_title{
        font-size: 30px;
        font-weight: bold;
    }
    .mid__container_all_conclution_para{
        font-size: 20px;
    }
}
.mid__container_all_visit{
    display: flex;
    flex-direction: column;
    .mid__container_all_visit_title{
        font-size: 20px;
        font-weight: bold;
    }
    div
    {
            a{
                &:hover{
                    color: rgb(47,58,178,1);
                }
                    color: #2965F1;
                    font-size: 20px;
                    text-decoration: underline;
            }
        
    }
}
.mid__container_comments{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e7e1e1;
}

.mid__container_comments{
    padding: 48px;
    .mid__container_comments_container{
        width: 100%;
        .mid__container_comments_container_header{
            display: flex;
            justify-content: space-between;
            .mid__container_comments_container_header_top{
                width: 50%;
                
                display: flex;
                align-items: center;
                .mid__container_comments_container_header_top_text{
                    font-size: 24px;
                    font-weight: bold;
                }
                .mid__container_comments_container_header_top_img{
                    &:hover{
                        cursor: pointer;
                        background-color: #ECECFC;
                        border-radius: 6px;
                    }
                    width: 56px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
            .mid__container_comments_container_header_top_button{
                &:hover{
                    border: 2px solid #a3a3a3;
                    background-color: #efefef;
                }
                width: 100px;
                height: 40px;
                padding: 5px;
                border: 2px solid #e7e1e1;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
            }
        }
        .mid__container_comments_container_add_comment{
            padding-top: 25px;
            display: flex;
            width: 100%;
            gap: 5px;
            .mid__container_comments_container_add_comment_photo{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                

            }
            .mid__container_comments_container_add_comment_text_area{
                flex: 1;
                height: 78px;
                border-radius: 6px;
                border: 1px solid #b6b5b5;
            }
        }
        .mid__container_comments_container_comment{
            padding-top: 25px;
            display: flex;
            gap: 5px;
            .mid__container_comments_container_comment_avatar{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10px;
                .mid__container_comments_container_comment_avatar_img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }
            .mid__container_comments_container_comment_body{
                flex: 1;
                border: 1px solid #e7e1e1;
                border-radius: 6px;
                padding: 10px;
                .mid__container_comments_container_comment_body_name{
                    display: flex;
                    justify-content: space-between;
                    height: 40px;
                    .mid__container_comments_container_comment_body_name_left{
                        .mid__container_comments_container_comment_body_name_left_name{
                            padding: 3.5px;
                            height: 40px;
                            &:hover{
                                background-color:#f3f2f2 ;
                                border-radius: 6px;
                                height: 40px;
                                cursor: pointer;
                            }
                            font-size: 16px;
                            color: #3d3d3d;
                            font-weight: bold;
                            
                        }
                        .mid__container_comments_container_comment_body_name_left_date{
                            color:#717171 ;
                            font-size: 14px;
                        }
                    }
                    .mid__container_comments_container_comment_body_name_right{
                        width: 32px;
                        height: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover{
                            background-color:#f3f2f2 ;
                            border-radius: 6px;
                            cursor: pointer;
                        }
                    }
                }
                .mid__container_comments_container_comment_body_content{
                    font-size: 18px;
                    a{
                        &:hover{
                            color: rgb(47,58,178,1);
                        }
                            color: #2965F1;
                            font-size: 20px;
                            text-decoration: underline;
                    }
                }
            }
        }
    }
}
//TERMINA LO DEL MEDIO
@media screen and (max-width:1030px) {
#H1_title{
    font-size: 36px;
}
    
}
@media only screen and (max-width:768px){
body{
    .aside_left__container{
       
        .aside_left__container_row{
            
            position: relative;
            height: 100px;
            
            .aside_left__container_row_aside-left{
                width: 100%;
                position: fixed ;
                bottom: 0;
                height: 58px;
                border-radius: 5px 5px 0 0;
                box-shadow: 0px 0px 5px rgb(110, 108, 108);
                display: flex;
                align-items: center;
                justify-content: space-between;
                .aside_left__container_row_aside-left_container{
                    width: 100%;
                    height: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 0;
                    .aside_left__container_row_aside-left_container_items{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 15px;
                        position: relative;
                        .aside_left__container_row_aside-left_container_items_tooltip{
                            position: absolute;
                            text-align: center;
                            top: -200%;
                            
                        }
                        .aside_left__container_row_aside-left_container_items_reactions{
                            
                            position: absolute;
                            top: -110px;
                            left: -50px;
                            display: flex;
                            .reaction{
                                .reaction_tooltip{
                                    top: -60px !important;;
                                }
                            }
                            
                        }
                        .aside_left__container_row_aside-left_container_items_sub_menu_container{
                            
                            top: -370px !important;
                            left: -200px !important;
                        }
                    }
                   
                       
                    }
                }
            }
        }
    }
}
