
.contorno{
    border: 1px solid black;
}
body{
    .aside_left__container{
        .aside_left__container_row{
            
            .aside_left__container_row_aside-left{
              background-color: #FFFFFF;
              .aside_left__container_row_aside-left_container{
                
                .aside_left__container_row_aside-left_container_items{
                    a{
                        text-decoration: none;
                        color: #575757;
                    }
                    .aside_left__container_row_aside-left_container_items_img-thredots{
                        &:hover{
                            
                            border-radius: 50%;
                            background-color: #e7e1e1;
                        }
                    }
                    .aside_left__container_row_aside-left_container_items_txt img{
                        font-size: 14px;
                    }
                    .aside_left__container_row_aside-left_container_items_img{
                        .aside_left__container_row_aside-left_container_items_img_heart{
                            &:hover{
                                path{
                                    transition: fill .3s ease;
                                fill: rgb(220,38,38,1);
                            }
                            }
                        }
                        .aside_left__container_row_aside-left_container_items_img_comment{
                            &:hover{
                                path{
                                    transition: fill .3s ease;
                                fill: rgb(245,158,11,1);
                            }
                            }
                        }
                        .aside_left__container_row_aside-left_container_items_img_save{
                            &:hover{
                                path{
                                    transition: fill .3s ease;
                                fill: rgb(79,70,229,1);
                            }
                            }
                        }
                    }
                }
            }
            }
        }
    }
}
@media only screen and (max-width:768px){
body{
    .aside_left__container{
       
        .aside_left__container_row{
            
            position: relative;
            height: 100px;
            
            .aside_left__container_row_aside-left{
                width: 100%;
                position: fixed ;
                bottom: 0;
                height: 58px;
                border-radius: 5px 5px 0 0;
                box-shadow: 0px 0px 5px rgb(110, 108, 108);
                display: flex;
                align-items: center;
                justify-content: space-between;
                .aside_left__container_row_aside-left_container{
                    width: 100%;
                    height: 80%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .aside_left__container_row_aside-left_container_items{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 15px;
                        .aside_left__container_row_aside-left_container_items_txt{
                            
                        }
                    }
                }
            }
        }
    }
}
}